:root {
   --main-color: #025a62; 
   }

img.logo {
   width: 150px;
   padding: 20px 20px;
}

.navbar-collapse {
   justify-content: flex-end;
}

.navbar-nav {
   padding: 0 20px;
}

.navbar-nav li {
   margin-left: 30px;
}

.active {
   background-image: linear-gradient(currentColor,currentColor);
   background-repeat: repeat-x;
   background-size: 1px 1px;
   background-position: 0 100%;
}

img {
   width: 100%;
}

.hero {
   background-image: url("https://oir.mobi/uploads/posts/2020-04/1586885182_48-p-podvodnie-skali-67.jpg");
   height: 700px;
   width: 100%;

}

h1, .first-name {
   font-weight: 200;
   font-style: normal;
   font-family: 'Playfair Display', serif;
   color: #ffffff;
   font-size: 90px !important;
   line-height: 1;
   letter-spacing: 1px;
   padding-top: 30px !important;
}

.second-name {
   font-weight: 200;
   font-style: normal;
   font-family: 'Playfair Display', serif;
   color: #ffffff;
   font-size: 50px !important;
   line-height: 1;
   letter-spacing: 1px;
   padding-top: 30px !important;
}

.photo-portfolio {
   font-weight: 200;
   font-style: normal;
   color: #ffffff;
   font-size: 25px !important;
   line-height: 1;
   letter-spacing: 1px;
   padding-top: 30px !important;
   padding-bottom: 40px;
}

.hello-txt {
   text-align: right;
   color: var(--main-color);
   font-size: 70px;
   font-weight: 500;
   font-style: normal;
   line-height: 1,5;
   letter-spacing: 1px;
   padding-right: 150px;
   padding-top: 10px;
}

.photo-icon {
   max-width: 67px;
   height: 58px;

}

.about-person {
text-align: center;
padding-top: 10px;
}

.text-1 {
   color: black;
   font-size: 30px;
   padding-bottom: 30px;
}

.text-2 {
   color: rgb(129, 129, 129);
}

.card-text {
   color: var(--main-color);
   font-weight: 700;
}

.btn:hover {
   background-color: var(--main-color);
}

.btn-primary {
   background-color: var(--main-color);
   font-size: 18px;
   border-color: var(--main-color);
}

.btn-primary:hover {
   background-color: #ffffff;
   color: var(--main-color);
   border-color: var(--main-color);
}

.text-right {
   text-align: right;
}