

img.logo {
   width: 150px;
   padding: 20px 20px;
}

.navbar-collapse {
   justify-content: flex-end;
}

.navbar-nav {
   padding: 0 20px;
}

.navbar-nav li {
   margin-left: 30px;
}

.active {
   background-image: linear-gradient(currentColor,currentColor);
   background-repeat: repeat-x;
   background-size: 1px 1px;
   background-position: 0 100%;
}

img {
   width: 100%;
}

.hero {
   background-image: url("https://www.kvs-tula.ru/assets/img/morskoy.jpg");

   height: 700px;

}

h1 {
   font-weight: 200;
   font-style: normal;
   font-family: 'Playfair Display', serif;
   color: #ffffff;
   font-size: 60px !important;
   line-height: 1;
   letter-spacing: 1px;
   padding-top: 30px !important;
}